body{
 background-color: rgb(31, 31, 205);
 font: normal 15px arial;

}
header{
 color: white;
 text-align: center;
}
section {
background-color: white;
border-radius: 10px; /*borda arredondada */
padding: 15px; /* grossura*/
width: 500px;  /* largura*/
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
text-align: center;
}
div {
    text-align: center;
    padding: 8px;
}
footer {
 color: white;
 text-align: center;
 font-style: italic;
 height: 500px;
}
